@import "../../styles/style.scss";

.header{
  background-color: $secondary-color;
  height: 70px;
}
.left_menu_section,
.right_menu_section{
  display: flex;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav_menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.nav_menu a{
color: white;
}
